* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    }
    :root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00c6f7;
    }
    html{
        font-size: 60%;
        overflow-x: hidden;
    }
    body{
        background: var(--bg-color);
        color: var(--text-color);
    }
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 4rem 12% 4rem;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
    }
    .logo{
        font-size: 3rem;
        color: var(--text-color);
        font-weight: 800;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .logo:hover{
        transform: scale(1.1);
    }
    .logo span{
        text-shadow: 0 0 25px var(--main-color);
    }
    .navbar a{
        font-size: 1.8rem;
        color: var(--text-color);
        margin-left: 4rem;
        font-weight: 500;
        transition: 0.3s ease;
        border-bottom: 3px solid transparent;
    }
    .navbar a:hover,
    .navbar a.active{
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color);
    }
    #menu-icon{
        font-size: 3.6rem;
        color: var(--main-color);
        display: none;
    }
    section{
        min-height: 100vh;
        padding: 10rem 12% 10rem;
    }
    .home{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15rem;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: left;
        justify-content: center;
        margin-top: 3rem;
    }
    span{
        color: var(--main-color);
    }
    .logo span{
        color: var(--main-color);
    }
    .home-content h3{
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-size: 3.5rem;
    }
    .home-content h1{
        font-size: 7rem;
        font-weight: 700;
        margin-top: 1.5rem;
        line-height: 1;
    }
    .home-img{
        border-radius: 50%;
    }
    .home-img img{
        position: relative;
        top: 3rem;
        width: 30vw;
        border-radius: 50%;
        box-shadow: 0 0 25px var(--main-color);
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }
    .home-img img:hover{
        box-shadow: 0 0 25px var(--main-color),
                    0 0 50px var(--main-color),
                    0 0 100px var(--main-color);
    }
    .home-content p{
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.8;
        max-width: 1000px;
    }
    .social-icons a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        height: 4.5rem;
        background: transparent;
        border: 2px solid var(--main-color);
        font-size: 2.5rem;
        border-radius: 50%;
        color: var(--main-color);
        margin: 3rem 1.5rem 3rem 0;
        transition: 0.3s ease-in-out;
    }
    .social-icons a:hover{
        color: var(--text-color);
        transform: scale(1.3)translateY(-5px);
        box-shadow: 0 0 25px var(--main-color);
        background-color: var(--main-color);
    }
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        background: var(--second-bg-color);
        color: var(--text-color);
    }
    .about-img{
        border-radius: 50%;
    }
    .about-img img{
        position: relative;
        width: 32vw;
        border-radius: 50%;
        box-shadow: 0 0 25px var(--main-color);
        top: 1rem;
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }
    .about-img img:hover{
        box-shadow: 0 0 25px var(--main-color),
                    0 0 50px var(--main-color), 
                    0 0 100px var(--main-color);
    }
    .heading{
        text-align: center;
        font-size: 6rem;
        margin: 5rem 0;
    }
    .about-content h2{
        text-align: left;
        line-height: 1.5;
    }
    .about-content h3{
        font-size: 2.6rem;
    }
    .about-content p{
        font-size: 1.8rem;
        margin: 2rem 0 3rem;

    }
    .about .heading{
        margin: 0;
    }
    .social-iconss{
        width: 100%;
        padding-left: 30px;
        line-height: 50px;
    }
    .social-iconss ul{
        list-style: none;
    }
    .social-iconss li a{
        width: 20%;
        padding-left: 16px;
        font-size: 20px;
    }
    .social-iconss i{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        left: 770px;
        width: 4.5rem;
        height: 4.5rem;
        background: transparent;
        border: 2px solid var(--main-color);
        font-size: 2.5rem;
        border-radius: 50%;
        color: var(--main-color);
        margin: 1rem 1.5rem 3rem 0;
        transition: 0.3s ease-in-out;
    }
    .social-iconss i:hover{
        color: var(--text-color);
        transform: scale(1.3)translateY(-5px);
        box-shadow: 0 0 25px var(--bg-color);
        background-color: var(--bg-color);
    }
    .wrapper{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: first baseline;
        justify-content: center;
    }
    .container{
        height: 400px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: end;
    }
    .card{
        width: 80px;
        border-radius: 2rem;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        margin: 0 10px;
        display: flex;
        align-items: flex-end;
        transition: .6s cubic-bezier(.91,-0.10,0,.99);
        box-shadow: 5px 10px 15px -5px Irgba(0, 0, 0, 0.5);
    }
    .card > .row{
        color: white;
        display: flex;
        flex-wrap: nowrap;
    }
    .card > .row > .icon{
        background: white;
        color: black;
        border-radius: 50%;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }

    .card > .row > .description{
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        height: 80px;
        width: 520px;
        opacity: 0;
        transform: translateY(30px);
        transition-delay: .3s;
        transition: all .3s ease;
    }
    .description p{
        color: black;
        padding-top: 5px;
    }
    .wrapper input{
        display: none;
    }
    input:checked + label{
        width: 600px;
    }
    input:checked + label .description{
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
    .card[for="c1"]{
        background-image: url(3.jpg);
    }
    .card[for="c2"]{
        background-image: url(2.jpg);
    }
    .card[for="c3"]{
        background-image: url(1.jpg);
    }
    .card[for="c4"]{
        background-image: url(1.png);
    }
    .about .headingg{
        font-size: 8rem;
        text-align: center;
        margin: 5rem 0;
        position: absolute;
        top: 1400px;
        left: 600px;
    }
    .about .headinggg{
        font-size: 8rem;
        text-align: center;
        margin: 5rem 0;
        position: absolute;
        top: 1950px;
        left: 600px;
    }
    .containerr .cardd .face.face1 .contentt img{
        width: 230px;
        border-radius: 50%;
        }
    .containerr{
        width: 100px;
        position: absolute;
        top: 2000px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3em;
    }
    .containerr .cardd{
        position: relative;
        cursor: pointer;
    }  
    .containerr .cardd .face{
        width: 300px;
        height: 300px;
        transition: .4s;
        border-radius: 1em;
    }
    .containerr .cardd .face.face1{
        position: relative;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        z-index: 1;
        border-radius: 1em;
        transform: translateY(100px);
    }
    .containerr .cardd:first-of-type:hover .face.face1{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateY(0);
        box-shadow:
        inset 0 0 60px rgb(255, 60, 0),
        inset 20px 0 80px rgb(255, 106, 0),
        inset -20px 0 80px rgb(255, 111, 0),
        inset 20px 0 300px rgb(255,890, 0), 
        inset -20px 0 300px rgb(255, 157, 0),00 25px rgb(255, 60, 0);
    }
    .containerr .cardd:nth-of-type(2):hover .face.face1{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateY(0);
        box-shadow:
        inset 0 0 60px rgb(255, 0, 128),
        inset 20px 0 80px rgb(255, 0, 136),
        inset -20px 0 80px rgb(255, 0, 195),
        inset 20px 0 300px rgb(255, 0, 247), 
        inset -20px 0 300px rgb(255, 0, 251),00 25px rgb(255, 0, 128);
    }
    .containerr .cardd:nth-of-type(3):hover .face.face1{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateY(0);
        box-shadow:
        inset 0 0 60px rgb(34, 52, 255),
        inset 20px 0 80px rgb(33, 77, 255), 
        inset -20px 0 80px rgb(32, 121, 255), 
        inset 20px 0 300px rgb(31, 95, 255), 
        inset -20px 0 300px rgb(22, 80, 255),00 25px rgb(21, 41, 255);
    }
    .containerr .cardd .face.face2{
        position: relative;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-200px);
    }
    .containerr .cardd:hover .face.face2{
        transform: translateY(0);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .contentt{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .info{
        color: black;
        margin-bottom: 20px;
    }
    .contentt h2{
        font-weight: 800;
        font-size: 32px;
    }
    .contentt h3{
        font-weight: 500;
        font-size: 24px;
    }
    .contentt span{
        font-weight: 500;
        font-size: 18px;
    }
    .contentt .socials{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        margin-bottom: 0.6em;
        gap: 0.5em;
    }
    .socials i{
        color: white;
        background-color: black;
        padding: 8px;
        border: 3px solid black;
        border-radius: 50%;
        transition: 0.3s ease-in-out;
    }
    .socials i:hover{
        border: 3px solid orangered;
        background-color: orangered;
        color: white;
    }
    .btn-box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin-bottom: 5px;
    }
    .btn-box a{
        padding: 15px 25px;
        font-size: 16px;
        border-radius: 1em;
        border: 3px solid black;
        background-color: white;
        color: black;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.3s ease;
    }
    .btn-box a:first-of-type:hover{
            background-color: black;
            color: white;
    }
    .btn-box a:nth-of-type(2):hover{
            background-color: ☐ orangered;
            color: white;
            border: 3px solid orangered;
    }
    .btn{
        display: inline-block;
        padding: 1rem 2.8rem;
        background: var(--main-color);
        box-shadow: 0 0 25px var(--main-color);
        border-radius: 4rem;
        font-size: 1.6rem;
        color: black;
        border: 2px solid transparent;
        letter-spacing: 0.1rem;
        font-weight: 600;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    .btn:hover{
        transform: scale(1.05);
        box-shadow: 0 0 50px var(--main-color);
    }
    .btn-group{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    .btn-group a:nth-of-type(2){
        background-color: black;
        color: var(--main-color);
        border: 2px solid var(--main-color);
        box-shadow: 0 0 25px transparent;
    }
    .btn-group a:nth-of-type(2):hover{
        box-shadow: 0 0 25px var(--main-color);
        background-color: var(--main-color);
        color: black;
    }
    .text-animation{
        font-size: 34px;
        font-weight: 600;
        min-width: 280px;
    }
    .text-animation span{
        position: relative;
    }
    .text-animation span::before{
        content: "Game Developer";
        color: var(--main-color);
        animation: words 20s infinite;
    }
    .text-animation span::after{
        content: "";
        background-color: var(--bg-color);
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        border-left: 3px solid var(--bg-color);
        right: -8px;
        animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
    }
    @keyframes cursor{
        to{
            border-left: 2px solid var(--main-color);
        }
    }
    @keyframes words{
        0%,
        20%{
            content: "Graphic Design";
        }
        21%,
        40%{
            content: "Build Websites";
        }
        41%,
        60%{
            content: "Logo Design";
        }
        61%,
        80%{
            content: "Make Advertising Films";
        }
        81%,
        100%{
            content: "Packaging Design";
        }
    }
    @keyframes typing{
        10%,
        15%,
        30%,
        35%,
        50%,
        55%,
        70%,
        75%,
        90%,
        95%{
            width: 0;
        }
        5%,
        20%,
        25%,
        40%,
        45%,
        60%,
        65%,
        80%,
        85%{
            width: calc(100% + 8px);
        }
    }
    .education{
        padding: 100px 15px;
        background: var(--bg-color);
    }
    .education h2{
        margin-bottom: 5rem;
    }
    .timeline-items{
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .timeline-items::before{
        content: "";
        position: absolute;
        width: 5px;
        height: 100%;
        background-color: var(--main-color);
        left: calc(50% - 1px);
    }
    .timeline-item{
        margin-bottom: 40px;
        width: 100%;
        position: relative;
    }
    .timeline-item:last-child{
        margin-bottom: 0;
    }
    .timeline-item:nth-child(odd){
        padding-right: calc(50% + 30px);
        text-align: right; 
    }
    .timeline-item:nth-child(even){
        padding-left: calc(50% + 30px);
    }
    .timeline-dot{
        height: 21px;
        width: 21px;
        background-color: var(--main-color);
        box-shadow: 0 0 25px var(--main-color),
                    0 0 50px var(--main-color);
        position: absolute;
        left: calc(50% - 8px);
        border-radius: 50%;
        top: 10px;
    }
    .timeline-date{
        font-size: 20px;
        font-weight: 800;
        color: white;
        margin: 6px 0 15px;
    }
    .timeline-content{
        background-color: var(--bg-color);
        border: 3px solid var(--main-color);
        padding: 30px 50px;
        border-radius: 4rem;
        box-shadow: 0 0 10px var(--main-color);
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    .timeline-content:hover{
        transform: scale(1.05);
        box-shadow: 0 0 25px var(--main-color);
    }
    .timeline-content h3{
        font-size: 20px;
        color: white;
        margin: 0 0 10px;
        font-weight: 500;
    }
    .timeline-content p{
        color:  white;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
    }

    ::-webkit-scrollbar{
        width: 15px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgb(197, 248, 255);
    }
    ::-webkit-scrollbar-track{
        background-color: black;
        width: 50px;
    }
    .services{
        background: var(--second-bg-color);
        color: black;
    }
    .services h2{
        margin-bottom: 5rem;
        color: white;
    }
    .services-container{
        display: grid;
        grid-template-columns: repeat (2,1fr);
        align-items: center;
        gap: 2.5rem;
    }
    .service-box{
        background-color: var(--main-color);
        height: 200px;
        border-radius: 3rem;
        border: 5px solid transparent;
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }
    .service-box:hover{
        background: white;
        color: black;
        border: 5px solid var(--main-color);
        transform: scale(1.03);
    }
    .service-box .service-info{
        display: flex;
        flex-direction: column;
        text-align: left;
        max-height: 200px;
        justify-content: left;
        align-items: baseline;
        padding: 1rem 2rem;
    }
    .service-info h4{
        font-size: 3rem;
        font-weight: 800;
        line-height: 2;
    }
    .service-info p{
        font-size: 1.6rem;
        font-weight: 600;
        max-height: 100px;
        line-height: 1.7;
        margin: auto;
    }
    .projects{
        background: var(--bg-color);
        background-size: cover;
    }
    .projects-box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        margin: 5rem 0;
        gap: 20rem;
        row-gap: 5rem;
    }
    .project-card{
        height: 500px;
        max-width: 450px;
        background-color: ☐ rgba(0, 0, 0, 0.3);
        backdrop-filter: blur (30px);
        border: 2px solid var(--main-color);
        border-radius: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        padding: 5rem 5rem;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 5px var(--main-color);
        transition: 0.4s ease;
    }
    .project-card:hover{
        box-shadow: 0 0 25px var(--main-color), 
                    0 0 50px var(--main-color);
        transform: scale(1.02);
    }
    .project-card img{
        max-width: 20vw;
        object-fit: cover;
    }
    .project-card h3{
        font-size: 3rem;
    }
    .project-card p{
        font-size: 1.6rem;
    }
    .skills{
        background-color: var(--second-bg-color);
    }
    .skills h2{
        margin-bottom: 2rem;
    }
    .skills{
        margin: 0 auto;
    }
    .skill-bars{
        margin-top: 8rem;
        padding: 25px 30px;
        background: var(--bg-color);
        border: 2px solid var(--main-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .skill-bars .bar{ 
        margin: 20px 0;
    }
    I
    .skill-bars .bar:first-child{
        margin-top: 0px;
    }
    .skill-bars .bar .info{ 
        margin-bottom: 5px;
    }
    .skill-bars .bar .info span{ 
        color: var(--text-color);
        font-weight: 500;
        font-size: 17px;
    }
    .skill-bars .bar .progress-line{
        height: 10px;
        width: 100%;
        background: white;
        position: relative;
        border-radius: 10px;
    }
    .bar .progress-line span{
        height: 100%;
        position: absolute;
        border-radius: 10px;
        background: white;
        cursor: pointer;
    }
    .bar .progress-line.modeling span{ 
        width: 60%;
        background-color:
        rgb(7, 255, 28);
    }
    .bar .progress-line.animation span{ 
        width: 80%;
        background-color:
        rgb(250, 158, 0);
    }
    .bar .progress-line.design span{ 
        width: 70%;
        background-color:
        rgb(98, 0, 255);
    }
    .bar .progress-line.graphic span{ 
        width: 90%;
        background-color:
        orangered;
    }
    .bar .progress-line.designw span{ 
        width: 65%;
        background-color: blue;
    }
    .contact{
        background-color: var(--bg-color);
    }
    .contact h2{
        margin-bottom: 3rem;
        color: var(--text-color);
    }
    .contact form{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin: 5rem auto;
        text-align: center;
    }
    .contact form .input-box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact form .input-box input,
    .contact form textarea{
        width: 100%;
        padding: 2.5rem;
        font-size: 1.8rem;
        color: var(--text-color);
        background: var(--bg-color);
        border-radius: 2rem;
        border: 2px solid var(--main-color);
        margin: 1.5rem 0;
        resize: none;
    }

    .contact form .btn{
        margin-top: 2rem;
    }
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        padding: 40px 0;
        background-color: var(--second-bg-color);
    }
    .footer .social{
        text-align: center;
        padding-bottom: 25px;
        color: var(--main-color);
    }
    .footer .social a{
        font-size: 25px;
        color: var(--main-color);
        border: 2px solid var(--main-color);
        width: 42px;
        height: 42px;
        line-height: 42px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 10px;
        transition: 0.3s ease;
    }
    .footer .social a:hover {
        transform: scale(1.2) translateY(-10px);
        background-color: var(--main-color);
        color: black;
        box-shadow: 0 0 25px var(--main-color);
    }
    .footer ul {
        margin-top: 0;
        padding: 0;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
    }
    footer ul li a {
        color: white;
        border-bottom: 3px solid transparent;
        transition: 0.3s ease;
    }
    .footer ul li a:hover {
        border-bottom: 3px solid var(--main-color);
    }
    .footer ul li{
        display:  inline-block;
        padding: 0 15px;
    }
    @media (max-width:1700px){
        .social-iconss i{
            position: absolute;
            left: 870px;
        }
    }
    @media (max-width:1650px){
        .social-iconss i{
            position: absolute;
            left: 830px;
        }
    }
    @media (max-width:1600px){
        .social-iconss i{
            position: absolute;
            left: 800px;
        }
    }
    @media (max-width:1550px){
        .social-iconss i{
            position: absolute;
            left: 750px;
        }
    }
    @media (max-width:1500px){
        .social-iconss i{
            position: absolute;
            left: 750px;
        }
    }
    @media (max-width:1400px){
        .social-iconss i{
            position: absolute;
            left: 700px;
        }
    }
    @media (max-width:1300px){
        .social-iconss i{
            position: absolute;
            left: 650px;
        }
    }
    @media (max-width:1285px){
        html{
            font-size: 55%;
        }
        .services-container{
            padding-bottom: 7rem;
            grid-template-columns: repeat(1,1fr);
            margin: 0 5rem;
        }
        .projects-box{
            grid-template-columns: repeat(2,1fr);
        }
        .projects-box img{
            min-width: 30vw;
        }
        .social-iconss i{
            position: absolute;
            left: 630px;
        }
        .about .headingg{
            position: absolute;
            left: 450px;
            top: 1600px;
        }
    }
    @media (max-width:1200px){
        .social-iconss i{
            position: absolute;
            left: 600px;
        }
        .about .headingg{
            position: absolute;
            left: 450px;
            top: 1250px;
        }
        .about .headinggg{
            position: absolute;
            left: 450px;
            top: 1800px;
        }
        .about .containerr{
            position: absolute;
            top: 1810px;
        }
    }
    @media (max-width:1100px){
        .social-iconss i{
            position: absolute;
            left: 550px;
        }
    }
    @media (max-width:1000px){
        .social-iconss i{
            position: absolute;
            left: 500px;
        }
        .about .headinggg{
            position: absolute;
            left: 360px;
            top: 2290px;
        }
        .about .containerr{
            position: absolute;
            top: 2330px;
        }
    }
    @media (max-width:991px){
        header{
            padding: 2rem 3%;
        }
        .containerr{
            flex-direction: column;
            margin: 0 5rem;
        }
        .about .headingg{
            position: absolute;
            top: 500px;
            left: 10px;
        }
        .about .headinggg{
            position: absolute;
            left: 60px;
            top: 2280px;
        }
        .about .containerr{
            position: absolute;
            top: 2300px;
        }
        section{ 
            padding: 10rem 3% 2rem;
        }
        .timeline-items::before{
            left: 7px;
        }
        .timeline-item:nth-child(odd){
            padding-right: 0;
            text-align: left;
            word-break: break-word;
        }
        .timeline-item:nth-child(odd),
        .timeline-item:nth-child(even){
            padding-left: 37px;
            word-break: break-word;
        }
        .timeline-dot{
            left: 0;
        }
        .services{
            padding-bottom: 7rem;
        }
        .contact form{ 
            flex-direction: column;
        }
        .footer { 
            padding: 2rem 3%;
        }
        .social-iconss i{
            position: absolute;
            left: 400px;
        }
    }
    @media (max-width:895px){
        #menu-icon{
            display: block;
        }
        .navbar{
            position: absolute;
            top: 100%;
            right: 0;
            width: 50%;
            padding: 1rem 3%;
            background: rgba(0, 0, 0, 0.8); 
            backdrop-filter: blur(20px);
            border-bottom-left-radius: 2rem;
            border-left: 2px solid var(--main-color);
            border-bottom: 2px solid var(--main-color);
            display: none;
        }
        .navbar.active{
            display: block;
        }
        .navbar a{
            display: block;
            font-size: 2rem;
            margin: 3rem 0;
            color: white;
        }
        .home{
            flex-direction: column-reverse;
            margin: 5rem 4rem;
            gap: 3rem;
        }
        .home-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .home-content h3{
            font-size: 2.6rem;
        }
        .home-content h1{
            font-size: 8rem;
            margin-top: 3rem;
        }
        .home-content p{
            max-width: 600px;
            margin: 0 auto;
        }
        .home-img img{
            width: 56vw;
            margin: 3rem 0;
        }
        .about{
            flex-direction: column-reverse;
        }
        .about img{
            width: 52vw;
        }
        .about .wrapper .container{
            width: 100vw;
        }
        .social-iconss i{
            position: absolute;
            left: 10px;
        }
        .about .headingg{
            position: absolute;
            left: 100px;
            top: 1740px;
        }
        .about .headinggg{
            position: absolute;
            top: 2000;
        }
        .about-content .heading{
            text-align: center; 
        }
        .services h2{
            margin-bottom: 3rem;
        }
        .services-container{
            grid-template-columns: repeat(1,1fr);
        }
        .projects-box{
            grid-template-columns: repeat(1,1fr);
        }
        .projects-box img{
            min-width: 42rem;
        }
    }

    

